.row
  .col-md-12
    .card
      = render 'table', sales_contacts: @sales_contacts, with_pharmacy: true
      .actions
        = link_to t("general.new"), new_admin_sales_contact_path, class: 'btn btn-success'

:javascript
  (function(event){
    let table = new DataTable("#sales_contacts");
  })();
