- unless flash.empty?
  #flash_messages
    .inner
      - flash.each do |name, msg|
        %div.alert{class: "alert-#{name}" }
          = button_tag type: "button", class: "close", data: { dismiss: "alert" } do
            &times;
          = msg
