%h2
  = t("marketplace.pharmacy.agents")
= render partial: 'marketplace/shared/pharmacies/agent', collection: pharmacy.agents
- if policy(pharmacy.agents.build).create?
  .actions
    = link_to t("general.add"), new_admin_marketplace_pharmacy_agent_path(pharmacy_id: pharmacy.id), class: "btn btn-success"
