.row
  = render "marketplace/shared/pharmacies/contact_details", pharmacy: pharmacy
  .col-12.col-md-5
    .image
      = image_tag((image = pharmacy.image).attached? ? image.variant(resize: "300x300") : "placeholder-pharmacy.jpg")
- if policy(pharmacy).edit?
  .actions
    = link_to t('general.edit'), edit_admin_marketplace_pharmacy_path(pharmacy), class: 'btn btn-primary'
