// Variables
$border_grey: #c8ced3;

// Utility classes
.hidden {
  display: none;
}

footer.app-footer {
  text-align: center;
  font-size: 75%;
  div {
    width: 100%;
  }
}

.card:first-of-type {
  margin-top: 20px;
}

.nav-dropdown .nav-dropdown-items .nav-item .nav-link {
  padding-left: 40px;
  font-size: 85%;
}

.card {
  h2 {
    margin: 10px;
    margin-left: 0px;
  }

  .show_record {
    width: 80%;
    @media only screen and (max-width: 600px) {
      width: 90%;
    }
    margin: auto;
    .form-group {
      clear: both;
      textarea {
        margin-bottom: 1em;
      }
    }
    .col-form-label {
      display: inline-block;
      width: 27%;
      text-align: right;
    }
    .form-control {
      display: inline-block;
      min-height: 2.5em;
      width: 65%;
    }
    .col-form-check-input {
      margin-left: 5px;
    }
    .field_with_errors {
      display: inline;
      color: red;
    }
    .attr_value {
      position: absolute;
      margin-top: 10px;
      margin-left: 20px;
    }
    h3 {
      margin: 5px 0px 5px 10px;
      text-transform: uppercase;
      font-size: 110%;
      font-weight: bold;
    }
  }

  .actions {
    width: 80%;
    margin: 10px auto;
    float: right;
    text-align: right;
    .btn-danger {
      margin-right: 20px;
    }
    .button_to {
      display: inline-block;
    }
    a {
      margin: 10px;
    }
  }
}

.table {
  span.comments_count, span.survey_indicator {
    display: inline-block;
    float: right;
    margin-left: 5px;
  }
  .controls {
    min-width: 50px;
    .dataTable-sorter {
      display: none;
    }
  }
}

.dataTable-container {
  overflow-x: auto;
}

.user_session {
  .card {
    .card {
      padding: 15px;
      margin-top: 40px;
      margin-bottom: 40px;
    }
  }
}

.card {
  .comments, .contact_responses {
    width: 70%;
    margin: auto;
  }
}

li.comment {
  list-style: none;
  width: 95%;
  margin: auto;
  .card {
    padding: 20px;
    .meta {
      font-size: 80%;
      font-style: italic;
      margin-bottom: 20px;
      .commented_by {
        display: inline-block;
        width: 45%;
        float: left;
        text-align: left;
      }
      .commented_at {
        display: inline-block;
        width: 45%;
        float: right;
        text-align: right;
      }
    }
  }
}

.no_comments {
  font-style: italic;
  text-align: center;
}

.contact_responses, .pharmacy_contacts {
  h2 {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

.contact_responses {
  .show_record {
    margin-bottom: 50px;
  }
  .survey_question_response {
    position: absolute;
    top: 5px;
    margin-left: 10px;
  }
}

.pharmacy_contacts {
  width: 70%;
  margin: auto;
}

.inline_search_form {
  text-align: right;
  margin-top: 15px;
  input {
    display: inline-block;
  }
  .form-control {
    width: 60%;
  }
}

.no_orders {
  width: 100%;
  font-style: italic;
  text-align: center;
  margin: 50px auto;
}

.recent_purchases, .recent_sales, .recent_listings {
  font-size: 85%;
  min-height: 20px;
  .no_recent_activity {
    @extend .no_orders;
  }
  ul {
    padding: 5px;
    list-style-type: none;
    display: table;
    width: 100%;
    li {
      display: table-row;
      margin: 20px auto;
      .product_name, .sale_value, .purchase_value, .order_value, .updated_at, .created_at {
        display: table-cell;
        min-width: 30%;
      }
      .product_name {
        width: 45%;
      }
      .sale_value, .purchase_value, .order_value{
        width: 25%;
      }
      .updated_at, .created_at {
        width: 30%;
      }
    }
  }
}

.navbar {
  a.cart_link:hover {
    text-decoration: none;
  }

  .cart_count {
    background-color: blueviolet;
    border-radius: 50%;
    color: white;
    font-weight: bold;
    font-size: 72%;
    position: relative;
    opacity: 0.5;
    padding: 2px 4px;
    top: -8px;
    left: -7px;
  }
}
