// Variables
$border_grey: #c8ced3;

// Utility classes
.hidden {
  display: none;
}

footer.app-footer {
  text-align: center;
  font-size: 75%;
  div {
    width: 100%;
  }
}

.card:first-of-type {
  margin-top: 20px;
}

.nav-dropdown .nav-dropdown-items .nav-item .nav-link {
  padding-left: 40px;
  font-size: 85%;
}

.card {
  h2 {
    margin: 10px;
    margin-left: 0px;
  }

  .show_record {
    width: 70%;
    margin: auto;
    .col-form-label {
      display: inline-block;
      width: 24%;
      text-align: right;
    }
    .form-control {
      display: inline-block;
      float: right;
      min-height: 2.5em;
      width: 75%;
    }
    .field_with_errors {
      display: inline;
      color: red;
    }
    .attr_value {
      position: absolute;
      margin-top: 10px;
      margin-left: 20px;
    }
  }

  .actions {
    margin: 10px;
    float: right;
    text-align: right;
    .btn-danger {
      margin-right: 20px;
    }
  }
}

.table {
  span.comments_count {
    display: inline-block;
    float: right;
  }
  .controls {
    min-width: 50px;
    .dataTable-sorter {
      display: none;
    }
  }
}

.dataTable-container {
  overflow-x: auto;
}

.user_session {
  .card {
    .card {
      padding: 15px;
      margin-top: 40px;
      margin-bottom: 40px;
    }
  }
}

.card {
  .comments, .contact_responses {
    width: 70%;
    margin: auto;
  }
}

li.comment {
  list-style: none;
  width: 95%;
  margin: auto;
  .card {
    padding: 20px;
    .meta {
      font-size: 80%;
      font-style: italic;
      margin-bottom: 20px;
      .commented_by {
        display: inline-block;
        width: 45%;
        float: left;
        text-align: left;
      }
      .commented_at {
        display: inline-block;
        width: 45%;
        float: right;
        text-align: right;
      }
    }
  }
}

.no_comments {
  font-style: italic;
  text-align: center;
}

.contact_responses, .pharmacy_contacts {
  h2 {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

.contact_responses {
  .show_record {
    margin-bottom: 50px;
  }
  .survey_question_response {
    position: absolute;
    top: 5px;
    margin-left: 10px;
  }
}

.pharmacy_contacts {
  width: 70%;
  margin: auto;
}
