#order_feedback, #order_feedback_form {
  text-align: left;
  .label {
    width: 20%;
  }
  .value {
    width: 80%;
    padding-left: 0;
  }
  .form-group {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 0px;
  }
  .user_meta {
    font-size: 80%;
  }
}
