.row
  .col-md-12
    .row.inline_search_form
      .col-md-6
      .col-md-6
        = form_tag marketplace_root_path, method: :get do
          %span.active-purple-4.mb-4
            = text_field_tag "query", nil, class: "form-control", placeholder: t("general.search"), "aria-label": t("general.search")
          = submit_tag t("general.search"), class: "btn btn-primary"
    #marketplace_listings
      = render partial: :listing, collection: @listings
