.row
  .col-md-12
    .card
      .show_record
        %h2
          = t("admin.agent.new_title",
            pharmacy_name: h(@agent.pharmacy_name),
            pharmacy_url: marketplace_pharmacy_profile_path(pharmacy_id: @agent.pharmacy.id, section: 'profile')).html_safe
        = render 'form'
