.empty_cart_btn
  = form_for order, url: marketplace_cart_path, action: :patch do |form|
    = form.fields_for :line_items do |line_item_form|
      - if line_item_form.object.persisted?
        = line_item_form.hidden_field :_destroy, value: true
    = form.submit t("marketplace.cart.actions.empty_cart"), class: 'btn btn-default'
