.place_order_btn.cta
  = form_for order, url: marketplace_cart_path, action: :patch do |form|
    = form.hidden_field :state, value: 'completed'
    = form.submit t("marketplace.cart.actions.place_order"), class: 'btn btn-success'
