%section#about
  .container
    .row
      .col-xs-12.text-center
        .heading_area
          %h2 About RenuPharm
          %hr/
          %p RenuPharm is an on-line platform that facilitates the exchange of medicinal products between Irish pharmacies, reducing drug wastage and offering a unique alternative for sourcing stock.
    .row
      .col-md-5
        .about_left
          = image_tag("about_img.jpg", alt: "About RenuPharm")
      .col-md-7
        .about_right
          %p Managing medications stocked by your pharmacy can be a difficult task. Whether this is a specialized medication for which demand has suddenly ceased, or a temporary overstock on more regular medications, in both cases you are left with stock gather dust on the shelf until you eventually have to pay for its disposal.
          %p The RenuPharm platform is designed to reduce this wastage by allowing pharmacies to post their excess stock to the RenuPharm marketplace, where it can be purchased by another Irish pharmacy on the network who has a need for this particular medication. Offloading your excess stock will save you time and money on disposal.
          %p Drug shortages are an increasingly frequent obstacle for community pharmacies. The RenuPharm Marketplace offers an unique channel to source stock from other Irish pharmacies on the retwork.
          = link_to "Find out more", new_survey_response_path, class: 'about_btn'
