%section#about
  .container
    .row
      .col-xs-12.text-center
        .heading_area
          %h2 About RenuPharm
          %hr/
          %p RenuPharm is an on-line platform aimed at connecting pharmacies across Ireland to help reduce medication wastage by providing a marketplace for this stock to be purchased by other pharmacies on the network.
    .row
      .col-md-5
        .about_left
          = image_tag("about_img.jpg", alt: "About RenuPharm")
      .col-md-7
        .about_right
          %p Managing medications stocked by your pharmacy can be a difficult task. Whether this is a specialized medication for which demand has suddenly ceased, or a temporary overstock on more regular medications, in both cases you are left with stock gather dust on the shelf until you eventually have to pay for its disposal.
          %p The RenuPharm platform is designed to reduce this wastage by allowing pharmacies to post their excess stock to the RenuPharm marketplace, where it can be purchased by another Irish pharmacy on the network who has a need for this particular medication.
          %p Offloading your excess stock at a reduced price will save you time and money on disposal. Whilst also offering an alternative channel for sourcing medications at a low-cost. Good news for you, and your customers.
          = link_to "Find out more", new_survey_response_path, class: 'about_btn'
