%section#register_interest
  .contact
    .container
      .row
        .col-md-5
          .contact_content
            %h4 Want to be kept in the loop?
            %p If you would like to be updated about progress and developments on the RenuPharm platform register your interest here.
        .col-md-7
          %form.form-inline{:role => "form"}
            .form-group
              %input#unam.form-control{:placeholder => "Enter your full name", :type => "text"}/
            .form-group
              %input#email.form-control{:placeholder => "Enter your email address", :type => "email"}/
            %button.btn.submit_btn{:type => "submit"} Update me
