%section#services
  .container.text-center
    .row
      .col-12.col-xs-12
        .heading_area
          %h2  The RenuPharm Solution
          %hr/
          %p The RenuPharm solution is comprised of two essential components:
    .row
      .col-sm-6
        .service.coaching
          = image_tag("coaching_icon.png", alt: "RenuPharm Network")
          %h4 RenuPharm Network
          %p
            A collection of pharmacies that have been accepted on to the RenuPharm platform,
            allowing them to buy and sell their stock on the Marketplace.
            The transaction between the buying and selling pharmacies is fully managed and
            audited on the Renupharm platform.
          = link_to "Find out more", new_survey_response_path, class: 'service_btn get_it_btn'
      .col-sm-6
        .service.web
          = image_tag("web_icon.png", alt: "RenuPharm Marketplace")
          %h4 RenuPharm Marketplace
          %p
            The online marketplace where Network members can post listings for their unneeded
            medications, at a price they are willing to accept. Network members can also browse
            available medications posted by other Irish pharmacies, offering a new and unique
            channel for sourcing stock.
          = link_to "Find out more", new_survey_response_path, class: 'service_btn learn_btn'
