%section#services
  .container.text-center
    .row
      .col-xs-12
        .headding_area
          %h2 What we do best
          %hr/
          %p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. Aldus PageMaker including versions.
    .row
      .col-sm-6
        .service.coaching
          = image_tag("coaching_icon.png", alt: "")
          %h4 One to One Coaching
          %p Curabitur tempus, velit ac molestie consectetur, metus ex vestibulum turpis, non blandit libero mauris non mi. Nunc egestas viverra erat, eget scelerisque nisl maximus eu. Aenean faucibus erat nec leo aliquam placerat. Nulla dignissim, ante non tristique cursus, nibh odio feugiat nunc, non tempus magna ante at sem. Praesent ac tortor magna tempus tempus magna ante at magna. ante at. Cras eu dui mattis, mollis est et, bibendum urna. Integer bibendum id ligula sit amet iaculis.
          %a.service_btn.get_it_btn{:href => ""} Get it Now
      .col-sm-6
        .service.web
          = image_tag("web_icon.png", alt: "")
          %h4 Website Development
          %p Curabitur tempus, velit ac molestie consectetur, metus ex vestibulum turpis, non blandit libero mauris non mi. Nunc egestas viverra erat, eget scelerisque nisl maximus eu. Aenean faucibus erat nec leo aliquam placerat. Nulla dignissim, ante non tristique cursus, nibh odio feugiat nunc, non tempus magna ante at sem. Praesent ac tortor magna tempus tempus magna ante at magna. ante at. Cras eu dui mattis, mollis est et, bibendum urna. Integer bibendum id ligula sit amet iaculis.
          %a.service_btn.learn_btn{:href => ""} Learn More
