%section#services
  .container.text-center
    .row
      .col-12.col-xs-12
        .heading_area
          %h2  The RenuPharm Solution
          %hr/
          %p The RenuPharm solution is comprised of two essential components:
    .row
      .col-sm-6
        .service.coaching
          = image_tag("coaching_icon.png", alt: "RenuPharm Network")
          %h4 RenuPharm Network
          %p This is collection of pharmacies that have been accepted on to the RenuPharm Marketplace. These pharmacies are allowed to buy and sell their stock on the RenuPharm Marketplace. Any transaction is between two pharmacies on the RenuPharm network. RenuPharm facilitates the financial transaction and will organise collection and delivery of the medication between the transacting pharmacies.
          = link_to "Find out more", new_survey_response_path, class: 'service_btn get_it_btn'
      .col-sm-6
        .service.web
          = image_tag("web_icon.png", alt: "RenuPharm Marketplace")
          %h4 RenuPharm Marketplace
          %p This is the online marketplace. Network members can post listings for the medications that they wish to offload at a price they are willing to accept. Network members can also browse available medications, posted by other Irish pharmacies on the network, offering the potential to pick up stock at discounted prices.
          = link_to "Find out more", new_survey_response_path, class: 'service_btn learn_btn'
