%section
  .container
    .row
      .col-xs-12
        .heading_area.text-center
          %h2
            TERMS AND CONDITIONS
          %hr
        %p
          We are concerned about the privacy of the people who visit the RenuPharm site or use the RenuPharm app.

        %h3
          Buying on RenuPharm
        %p
          Detail the terms under which users will make purchases on the platform.

        %h3
          Selling on RenuPharm
        %p
          Detail the terms under which sellers will operate on the platform.

        %h3
          Grievances
        %p
          If you have a problem with the service provided you can contact us via email.
          = succeed "." do 
            %a{href: "mailto:dev@renupharm.ie"}
              dev@renupharm.ie
