%section
  .container
    .row
      .col-xs-12
        .heading_area.text-center
          %h2
            PRIVACY POLICY
          %hr
        %p
          We are concerned about the privacy of the people who visit the RenuPharm site or use the RenuPharm app.
        %p
          We will not share any personally identifiable information you supply to us with thrid parties without getting express consent from yourself.

        %h3
          Survey data
        %p
          The survey data we collect is for the purpose of market research. Aggregated reports from this market research may be published or shared with third parties. In these cases none of the data in these reports will be identifiable to the individual survey responses.
        %p
          We may use individual survey responses, internally, to initiate follow-up market research or sales outreach.

        %h3
          Personal data
        %p
          If you choose to provide us with any personal data via the survey or the interest form (i.e. email address, phone number, pharmacy name and address) we will only use these details in our market research and sales outreach. These details will not be shared with any third party.
        %p
          If you have supplied personal data to us in the past you request that this data is deleted by contacting us at 
          %a{href: "mailto:dev@renupharm.ie"}
            "dev@renupharm.ie"

        %h3
          Important note
        %p
          RenuPharm reserves the right to amend this privacy policy from time to time as the service is developed.
