form.product_form {
  .instructions {
    text-align: right;
    font-style: italic;
    font-size: 85%;
  }

  .strength, .pack_size, .volume, .identifier, .channel_size, .weight {
    display: inline-block;
    max-width: 70%;
    input {
      width: 70%;
    }
    .form-control {
      float: none;
    }
    .unit {
      width: 30%;
      padding-left: 2%;
      font-style: italic;
      font-weight: lighter;
    }
  }
  .reveal {
    transition-property: display;
    transition-duration: 0.5s;
  }
  .form-group.required label::before {
    content: "* ";
  }
  .actions {
    width: 100%;
    margin: 10px;
  }

  img.placeholder {
    -webkit-filter: grayscale(100%) blur(1px);
    filter: grayscale(100%) blur(1px);
  }
}
