form.product_form {
  .instructions {
    text-align: right;
    font-style: italic;
    font-size: 85%;
  }

  .strength, .pack_size, .volume, .product_identifier, .channel_size {
    display: inline-block;
    max-width: 75%;
    input {
      width: 70%;
    }
    .form-control {
      float: none;
    }
    .unit {
      width: 30%;
      padding-left: 2%;
      font-style: italic;
      font-weight: lighter;
    }
  }
  .reveal {
    transition-property: display;
    transition-duration: 0.5s;
  }
  .form-group.required label::before {
    content: "* ";
  }
}
