%nav.sidebar-nav
  %ul.nav
    %li.nav-item
      %a.nav-link{href: "#"}
        RenuPharm
    %li.divider
    %li.nav-title Pharmacy
    %li.nav-item
      %a.nav-link{href: "#"}
        %i.nav-icon.fa.fa-shopping-cart
        Browse marketplace
    %li.nav-item
      %a.nav-link{href: "#"}
        %i.nav-icon.fa.fa-euro
        My Shop
    %li.nav-item
      %a.nav-link{href: "#"}
        %i.nav-icon.fa.fa-sign-out
        Sales
    %li.nav-item
      %a.nav-link{href: "#"}
        %i.nav-icon.fa.fa-sign-in
        Purchases
    %li.divider
    %li.nav-title Courier
    %li.nav-item.nav-dropdown
      %a.nav-link.nav-dropdown-toggle{href: "#"}
        %i.nav-icon.fa.fa-truck
        Deliveries
      %ul.nav-dropdown-items
        %li.nav-item
          %a.nav-link{href: "#"}
            %i.nav-icon.fa.fa-calendar-edit
            Scheduled
        %li.nav-item
          %a.nav-link{href: "#"}
            %i.nav-icon.fa.fa-calendar-check
            Completed
    %li.nav-item.nav-dropdown
      %a.nav-link.nav-dropdown-toggle{href: "#"}
        %i.nav-icon.fa.fa-euro
        Payments
      %ul.nav-dropdown-items
        %li.nav-item
          %a.nav-link{href: "#"}
            Historical
        %li.nav-item
          %a.nav-link{href: "#"}
            Pending
    %li.divider
    %li.nav-title Admin
    %li.nav-item.nav-dropdown
      %a.nav-link.nav-dropdown-toggle{href: "#"}
        %i.nav-icon.fa.fa-plus-circle
        Pharmacies
      %ul.nav-dropdown-items
        %li.nav-item
          %a.nav-link{href: "#"}
            Shops
        %li.nav-item
          %a.nav-link{href: "#"}
            Contacts
        %li.nav-item
          %a.nav-link{href: "#"}
            Survey Responses
    %li.nav-item.nav-dropdown
      %a.nav-link.nav-dropdown-toggle{href: "#"}
        %i.nav-icon.fa.fa-handshake-o
        Transactions
      %ul.nav-dropdown-items
        %li.nav-item
          %a.nav-link{href: "#"}
            Pending
        %li.nav-item
          %a.nav-link{href: "#"}
            Recent
        %li.nav-item
          %a.nav-link{href: "#"}
            Historical
    %li.nav-item
      %a.nav-link{href: "#"}
        %i.nav-icon.fa.fa-users
        Users
%button.sidebar-minimizer.brand-minimizer{type: "button"}
