%nav.sidebar-nav
  %ul.nav
    %li.nav-item
      %a.nav-link{href: dashboard_path}
        %i.nav-icon.icon-speedometer
        Dashboard
    %li.divider
    %li.nav-title Pharmacy
    %li.nav-item
      %a.nav-link{href: dashboard_path(dummy: true)}
        %i.nav-icon.fa.fa-shopping-cart
        Browse marketplace
    %li.nav-item
      %a.nav-link{href: dashboard_path(dummy: true)}
        %i.nav-icon.fa.fa-euro-sign
        My Shop
    %li.nav-item
      %a.nav-link{href: dashboard_path(dummy: true)}
        %i.nav-icon.fa.fa-sign-out-alt
        Sales
    %li.nav-item
      %a.nav-link{href: dashboard_path(dummy: true)}
        %i.nav-icon.fa.fa-sign-in-alt
        Purchases
    %li.divider
    %li.nav-title Courier
    %li.nav-item.nav-dropdown
      %a.nav-link.nav-dropdown-toggle{href: dashboard_path(dummy: true)}
        %i.nav-icon.fa.fa-truck
        Deliveries
      %ul.nav-dropdown-items
        %li.nav-item
          %a.nav-link{href: dashboard_path(dummy: true)}
            %i.fa.fa-chevron-right
            Scheduled
        %li.nav-item
          %a.nav-link{href: dashboard_path(dummy: true)}
            %i.fa.fa-chevron-right
            Completed
    %li.divider
    %li.nav-title Admin
    %li.nav-item.nav-dropdown
      %a.nav-link.nav-dropdown-toggle{href: dashboard_path(dummy: true)}
        %i.nav-icon.fa.fa-plus-circle
        Pharmacies
      %ul.nav-dropdown-items
        %li.nav-item
          %a.nav-link{href: admin_sales_pharmacies_path}
            %i.fa.fa-chevron-right
            Shops
        %li.nav-item
          %a.nav-link{href: admin_sales_contacts_path}
            %i.fa.fa-chevron-right
            Contacts
        %li.nav-item
          %a.nav-link{href: admin_survey_responses_path}
            %i.fa.fa-chevron-right
            Survey Responses
    %li.nav-item
      %a.nav-link{href: admin_users_path}
        %i.nav-icon.fa.fa-users
        Users
%button.sidebar-minimizer.brand-minimizer{type: "button"}
