.cart {
  padding: 10px;
  h2 {
    display: inline-block;
    width: auto;
  }
  .empty_cart_btn {
    display: inline-block;
    font-size: 80%;
    width: auto;
  }
  table.order_details {
    thead td {
      font-weight: bold;
      font-size: 110%;
    }
    tbody {
      border-bottom: 1px solid grey;
    }

    tfoot {
      td.total_price_label, td.total_price {
        font-weight: bold;
        font-size: 110%
      }
    }
  }
}
