@import '../style.scss';

#orders_table_wrapper {
  @media only screen and (max-width: 575.9px) {
    .col-md-12 {
      padding: 0;
    }
  }
}

table#orders {
  &.purchases .buyer {
    display: none
  }
  &.sales .seller {
    display: none
  }
  td.state i {
    font-size: 120%;
  }

  &.purchases td.state, &.orders td.state {
    &.in_progress {
      i {
        color: $background_grey;
      }
    }
    &.placed {
      i {
        color: $background_blue;
      }
    }
    &.delivering {
      i {
        color: $background_orange;
      }
    }
    &.completed {
      i {
        color: $background_green;
      }
    }
  }

  &.sales td.state {
    &.placed {
      i {
        color: $background_red;
      }
    }
    &.delivering {
      i {
        color: $background_blue;
      }
    }
    &.completed {
      i {
        color: $background_green;
      }
    }
  }

  @media only screen and (max-width: 767.9px) {
    .hide_mobile {
      display: none;
    }
  }
  @media only screen and (max-width: 575.9px) {
    tr.placed {
      background-color: $background_red;
    }
    tr.delivering {
      background-color: $background_blue;
    }
    tr.completed {
      background-color: $background_green;
    }
    td {
      padding:0.25rem;
      max-width: 100px;
      word-wrap: break-word;
      &.reference {
        max-width: 70px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
  }
}

// Individual order receipt
.cart.order_receipt {
  h2 {
    text-transform: capitalize;
  }

  table.order_details,
  .order_seller_buyer,
  .order_history_items {
    margin-top: 30px;
  }

  .order_seller_buyer {
    h2, h3 {
      text-align: center;
    }
    h3 {
      color: $default_blue;
      font-size: 150%;
      text-transform: uppercase;
      font-weight: bold;
      opacity: 50%;
    }
  }

  #info_and_action {
    text-align: center;
    .state {
      width: 100%;
      font-size: 100%;
    }
    .state.buying {
      &.in_progress {
        color: $text_blue;
      }
      &.placed {
        color: $text_orange;
      }
      &.delivering {
        color: $text_red;
      }
      &.completed {
        color: $text_green;
      }
    }

    .state.selling {
      &.in_progress {
        color: $text_blue;
      }
      &.placed {
        color: $text_red;
      }
      &.delivering {
        color: $text_orange;
      }
      &.completed {
        color: $text_green;
      }
    }
  }
}
