@import '../style.scss';

.tab-navigation {
  margin: 20px auto;
  .actions {
    width: 80%;
    margin: 10px auto;
    float: right;
    text-align: right;
  }
}

#pharmacy_profile {
  .description {
    font-size: 110%;
  }

  .contact_details {
    margin-top: 10px;
    display: table;
  }

  .email, .telephone, .fax, .address {
    display: table-row;
  }

  .address {
    margin-top: 10px;
    ul {
      padding-inline-start: 20px;
      li {
        list-style-type: none;
      }
    }
  }

  .image img {
    margin-top: 10px;
    max-width: 100%;
    height: auto;
    border-radius: 2em;
  }

}

#pharmacy_profile,
#pharmacy_agents,
#pharmacy_products,
#pharmacy_listings,
#pharmacy_credit_cards {
  width: 90%;
  margin: auto;
  h2 {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

#pharmacy_agents {
  .card.agent {
    padding: 20px;
  }
}

.label {
  display: table-cell;
  color: $border_grey;
}

.value {
  display: table-cell;
  padding-left: 20px;
}

#pharmacy_bank_details {
  .bank_name, .bic, .iban {
    display: table-row;
  }
}

#accept_terms_and_conditions_form {
  .field_with_errors {
    display: inline-block;
    label {
      padding: 0 5px;
      border: 1px solid red;
      border-radius: 0.2rem;
    }
  }
}
