// Variables
$border_grey: #c8ced3;
$background_red: #ff8c99;
$background_blue: #8cbfff;
$background_green: #90ff8c;
$background_orange: #ffb68c;
$background_grey: #dcdddb;
$default_blue: #8ad4ee;
$text_red: red;
$text_orange: orange;
$text_blue: blue;
$text_green: green;

.name, .price {
  font-weight: bold;
  font-family: "Trajan";
  font-size: 200%;
  @media only screen and (max-width: 575.9px) {
    font-size: 140%;
  }
}

.hidden {
  display: none;
}
