// Variables
$border_grey: #c8ced3;
$background_red: #ff8c99;
$background_blue: #8cbfff;
$background_green: #90ff8c;
$background_orange: #ffb68c;
$background_grey: #dcdddb;

.name, .price {
  font-weight: bold;
  font-family: "Trajan";
  font-size: 200%;
}

.hidden {
  display: none;
}
