@import 'bootstrap';

$blue: #3bbfce;
$margin: 16px;

body {
  background-image: image-url("blister.png");
  color: $blue;
}

#flash_messages {
  text-align: center;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 5px;
  .alert {
    margin-bottom: 5px;
  }
}

.content-navigation {
  border-color: $blue;
  color: darken($blue, 9%);
}

.border {
  padding: $margin / 2;
  margin: $margin / 2;
  border-color: $blue;
}

// Hacking bootsnav styles
.bootsnav .navbar-collapse {
  flex-basis: 75%;
}

.text-center {
  text-align: center;
}

// Survey page
.survey {
  margin: 10px;
  font-size: 14px;
}

.survey form {
  margin: 0px;
  .form-check {
    display: inline-block;
    margin-left: 25px;
  }

  .form-check-input {
    position: static;
    margin-left: 0px;
  }
}

.survey .submit {
  display: inline-block;
  float: right
}

.form-group.error {
  @extend .alert;
  @extend .alert-warning;
}
