@import 'bootstrap';

$blue: #3bbfce;
$margin: 16px;

body {
  background-image: image-url("blister.png");
  color: $blue;
}

#flash_messages {
  position: fixed;
  top: 100px;
  left: 0;
  width: 100%;
  text-align: center;
  opacity: 80%;
  z-index: 999;
  .inner {
    width: 90%;
    margin: auto;
    font-size: 80%;
    .close {
      color: inherit;
    }
  }
}

.content-navigation {
  border-color: $blue;
  color: darken($blue, 9%);
}

.border {
  padding: $margin / 2;
  margin: $margin / 2;
  border-color: $blue;
}

// Hacking bootsnav styles
.bootsnav .navbar-collapse {
  flex-basis: 75%;
}

.text-center {
  text-align: center;
}

nav.navbar.bootsnav ul.nav {
  li.user_nav.dropdown {
    a.dropdown-toggle:after {
      content: none;
    }
  }
}

// Survey page
.survey {
  margin: 10px;
  font-size: 14px;
}

.survey form {
  margin: 0px;
  .form-check {
    display: inline-block;
    margin-left: 25px;
  }

  .form-check-input {
    position: static;
    margin-left: 0px;
  }

  .survey_questions {
    .field_with_errors {
      display: inline-block;
    }
  }
}

.survey .submit {
  display: inline-block;
  float: right
}

.form-group.error, .error_explanation {
  @extend .alert;
  @extend .alert-warning;
}

.no_error .error_message {
  display: none;
}

.error_explanation .error_message {
  font-weight: bold;
  font-size: 120%;
}

// Devise customisations
section.user_session {
  h2 {
    text-align: center;
    font-weight: bold;
    text-transform: capitalize;
  }
}

.alert-notice {
  @extend .alert-info;
}

// Bootstrap alerts customization
.alert {
  border: 1px solid;
}
