.bootsnav {
  ul.navbar-nav {
    li.user_nav.dropdown.on > a {
      color: #7f5ca7 !important;
    }
  }
  .user_nav .dropdown-menu {
    position: absolute;
    font-size: 0.875rem;
    padding: 0;
    .dropdown-header {
      display: block;
      margin-bottom: 0;
      font-size: 0.765625rem;
      color: #73818f;
      white-space: nowrap;
      padding: 8px 20px;
      background: #e4e7ea;
      border-bottom: 1px solid #c8ced3;
      text-transform: none;
      border-top-left-radius: 0.25rem;
      border-top-right-radius: 0.25rem;
    }

    .dropdown-item {
      display: block;
      position: relative;
      width: 100%;
      padding: 10px 20px;
      clear: both;
      font-weight: 400;
      color: #23282c;
      text-align: inherit;
      white-space: nowrap;
      background-color: transparent;
      border: 0;
      border-bottom: 1px solid #c8ced3;
      text-transform: none;
    }

    .dropdown-item:last-child {
      border-bottom: 0;
    }

    .dropdown-item:hover, .dropdown-item:focus {
      color: #181b1e;
      text-decoration: none;
      background-color: #f0f3f5;
    }

    .dropdown-item.active, .dropdown-item:active {
      color: #fff;
      text-decoration: none;
      background-color: #20a8d8;
    }

    .dropdown-item.disabled, .dropdown-item:disabled {
      color: #73818f;
      background-color: transparent;
    }

    .dropdown-item i {
      display: inline-block;
      width: 20px;
      margin-right: 10px;
      margin-left: -10px;
      color: #c8ced3;
      text-align: center;
    }
  }
}

.user_session {
  .row.actions {
    font-size: 80%;
    .left {
      float: left;
      text-align: left;
    }
    .right {
      text-align: right;
      input.btn-success {
        margin-bottom: 5px;
      }
      .remember_me {
        display: block;
        clear: both;
        text-align: right;
        .form-check {
          display: inline-block;
          margin-left: 10px;
          top: 2px;
        }
      }
    }
  }
}

.widget .user_nav i {
  display: none;
}
