.hidden {
  display: none;
}

.tab-navigation {
  margin: 20px auto;
  .actions {
    width: 80%;
    margin: 10px auto;
    float: right;
    text-align: right;
  }
}

#pharmacy_profile {
  .description {
    font-size: 110%;
  }

  .contact_details {
    margin-top: 10px;
    display: table;
  }

  .email, .telephone, .fax, .address {
    display: table-row;
  }

  .address {
    margin-top: 10px;
    ul {
      padding-inline-start: 20px;
      li {
        list-style-type: none;
      }
    }
  }

  .image img {
    margin-top: 10px;
    max-width: 100%;
    height: auto;
    border-radius: 2em;
  }

}

#pharmacy_profile,
#pharmacy_agents,
#pharmacy_products,
#pharmacy_listings,
#pharmacy_credit_cards,
#pharmacy_bank_account {
  width: 90%;
  margin: auto;
  h2 {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

#pharmacy_agents {
  .card.agent {
    padding: 20px;
  }
}


#accept_terms_and_conditions_form {
  .field_with_errors {
    display: inline-block;
    label {
      padding: 0 5px;
      border: 1px solid red;
      border-radius: 0.2rem;
    }
  }
}

#pharmacy_products {
  .label {
    min-width: 140px;
  }
  .label::after{
    content: ":";
  }
}

.form_entry {
  overflow: hidden;
  width: 100%;
  .label {
    display: inline-block;
    font-weight: normal;
    width: 25%;
    margin-bottom: 0.5em;
    margin-right: 0em;
    float: left;
    text-align: left;
    color: black;
  }
  input, select {
    color: black;
    padding: 5px;
    width: 70%;
    margin-bottom: 0.5em;
    float: left;
  }
}


#new_credit_card {
  .logos {
    text-align: center;
    margin: 20px auto;
  }
  .expiry_date {
    display: inline-block;
    width: 70%;
    .card_expiry_month, .card_expiry_year {
      float: left;
      width: 30%;
      max-width: 120px;
    }
  }

  .card_cvc {
    float: left;
    width: 50px;
  }
}


#pharmacy_credit_cards {
  .card {
    width: 200px;
    margin: 10px auto;
  }
  .new_card_form {
    .card {
      width: 60%;
      margin: 10px auto;
      min-width: 500px;
    }
  }

  .credit_card {
    border: 1px solid black;
    border-radius: 15px;
    position: relative;
    padding: 10px;
    width: 250px;
    height: 150px;
    .brand {
      text-align: right;
    }
    .number {
      width: 100%;
      margin: 10px auto;
      font-weight: bold;
      font-size: 120%;
      text-align: center;
    }
    .expiry {
      width: 100%;
      text-align: left;
    }
    .holder {
      position: absolute;
      bottom: 10px;
      left: 10px;
      margin-top: 10px;
    }
  }
  .card_actions {
    display: table-cell;
    height: 150px;
    vertical-align: middle;
    text-align: left;
    .default_label {
      display: inline-block;
      font-weight: bold;
      font-size: 80%;
      text-transform: uppercase;
      color: green;
    }
  }

}
