%table.module{:border => "0", :cellpadding => "0", :cellspacing => "0", "data-type" => "text", :role => "module", :style => "table-layout: fixed;", :width => "100%"}
  %tr
    %td{:bgcolor => "", :height => "100%", :style => "padding:20px 45px 20px 45px;line-height:22px;text-align:inherit;", :valign => "top"}
      %div{:style => "text-align: left; color:#333333;"}
        %p
          Hello #{@email}!
        - if @resource.try(:unconfirmed_email?)
          %p
            We're contacting you to notify you that your email is being changed to #{@resource.unconfirmed_email}.
        - else
          %p
            We're contacting you to notify you that your email has been changed to #{@resource.email}.
