#loading
  #loading-center
    #loading-center-absolute
      #object_one.object
      #object_two.object
      #object_three.object
      #object_four.object
      #object_five.object
      #object_six.object
      #object_seven.object
      #object_eight.object
      #object_big.object
